<nz-breadcrumb style="margin:16px 0;">
  <nz-breadcrumb-item>Member</nz-breadcrumb-item>
</nz-breadcrumb>
<nz-table #nestedTable [nzData]="nestedTableData" [nzPageSize]="10">
  <thead>
    <tr>
      <th nzShowExpand></th>
      <th>Name</th>
      <th>Date of Birth</th>
      <th>Height</th>
      <th>Weight</th>
      <th>Place of Birth</th>
      <th>Hobby</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <ng-template ngFor let-data [ngForOf]="nestedTable.data">
      <tr>
        <td nzShowExpand [(nzExpand)]="data.expand"></td>
        <td>{{data.name}}</td>
        <td>{{data.dob}}</td>
        <td>{{data.height}}</td>
        <td>{{data.weight}}</td>
        <td>{{data.pob}}</td>
        <td>{{data.hobby}}</td>
        <td>
          <a><i nz-icon type="edit"></i></a>
        </td>
      </tr>
      <tr [nzExpand]="data.expand">
        <td></td>
        <td colspan="8">
          <div><strong>Image Profile:</strong></div><br>
          <img style="width: 30%;height: 40%;" src="{{data.image}}">
        </td>
      </tr>
    </ng-template>
  </tbody>
</nz-table>
