<nz-layout style="height: 100%;">
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="triggerTemplate">
    <div class="profile">
      <nz-avatar nzSrc="assets/prewed.jpg" nzSize="large" [ngStyle]="{'background-color':'#7265e6'}" style="vertical-align: middle;">
      </nz-avatar>
      <small [ngClass]="isCollapsed ? 'fullname-hide':'fullname'">Meilina Putri</small>
    </div>
    <ul nz-menu [nzTheme]="'dark'" [nzMode]="'inline'" [nzInlineCollapsed]="isCollapsed">
      <!-- <li nz-submenu>
        <span title><i nz-icon type="user"></i><span class="nav-text">Member SNSD</span></span>
        <ul>
          <li nz-menu-item *ngFor="let snsdMember of memberData">{{snsdMember}}</li>
        </ul>
      </li> -->
      <!-- <li nz-submenu>
        <span title><i nz-icon type="team"></i><span class="nav-text">Fans SNSD</span></span>
        <ul>
          <li nz-menu-item>Team 1</li>
          <li nz-menu-item>Team 2</li>
        </ul>
      </li> -->
      <li nz-menu-item routerLink="member">
        <span>
          <i nz-icon type="team"></i>
          <span class="nav-text">Member</span>
        </span>
      </li>
      <li nz-menu-item routerLink="song">
        <span>
          <i nz-icon type="sound"></i>
          <span class="nav-text">Song</span>
        </span>
      </li>
      <li nz-menu-item routerLink="concert">
        <span>
          <i nz-icon type="crown"></i>
          <span class="nav-text">Concert</span>
        </span>
      </li>
      <li nz-menu-item routerLink="about">
        <span>
          <i nz-icon type="profile"></i>
          <span class="nav-text">About</span>
        </span>
      </li>

    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header style="background: #fff; padding:0;">
      <i class="trigger" nz-icon [type]="isCollapsed?'menu-unfold':'menu-fold'" (click)="isCollapsed=!isCollapsed"></i>
    </nz-header>
    <nz-content style="margin:0 16px;">
      <!-- <nz-breadcrumb style="margin:16px 0;">
        <nz-breadcrumb-item>User</nz-breadcrumb-item>
        <nz-breadcrumb-item>Bill</nz-breadcrumb-item>
      </nz-breadcrumb>
      <div style="padding:24px; background: #fff; min-height: 360px;">
        Bill is a cat.
      </div> -->
      <router-outlet></router-outlet>
    </nz-content>
    <nz-footer style="text-align: center;">Developed by Meilina Putri ©2018</nz-footer>
  </nz-layout>
</nz-layout>
<ng-template #trigger>
  <i nz-icon type="up"></i>
</ng-template>
