<nz-breadcrumb style="margin:16px 0;">
  <nz-breadcrumb-item>Song</nz-breadcrumb-item>
</nz-breadcrumb>
<nz-table #nestedTable [nzData]="nestedTableData" [nzPageSize]="10">
  <thead>
    <tr>
      <th nzShowExpand></th>
      <th>Title</th>
      <th>Writer</th>
      <th>Album</th>
      <th>Year</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <ng-template ngFor let-data [ngForOf]="nestedTable.data">
      <tr>
        <td nzShowExpand [(nzExpand)]="data.expand"></td>
        <td>{{data.title}}</td>
        <td>{{data.writer}}</td>
        <td>{{data.album}}</td>
        <td>{{data.year}}</td>
        <td>
          <a><i nz-icon type="edit"></i></a>
        </td>
      </tr>
      <tr [nzExpand]="data.expand">
        <td></td>
        <td colspan="8">
          <div><strong>Image Profile:</strong></div><br>
          <img style="width: 30%;height: 40%;" src="{{data.image}}">
        </td>
      </tr>
    </ng-template>
  </tbody>
</nz-table>
